:root {
    --primary-color: #fd951f;
    --bg-color: #130f0d;
    --text-color: #cfcfe2;
    --light-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;



}

div h1 {
    width: 100%;
    max-width: 600px;
    margin: 40px auto 10px auto;
    padding: 10px 0px;
    background-color: rgb(184, 17, 17);
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #eeeeee;
}

.container {
    width: 100%;
    max-width: 1000px;

    margin: 10px auto;
    padding: 20px 10px;

    background-color: rgba(15, 15, 80, 0.87);
}

form {
    background: rgba(255, 255, 255, 0.11);
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;


}


div.form {
    min-height: 80px;
    display: flex;
    flex-direction: row;
}



div.input,
div.select {
    width: 250px;

    margin: 10px 3px 20px 3px;

    position: relative;
}


div.resultado {
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    padding: 10px 10px 20px 20px;
    border: 1px solid rgba(128, 128, 128, 0.808);
    background-color: rgba(158, 158, 158, 0.493);
    
}

input,
select,
button { 
    /* Reset appearance*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* Box */
    width: 100%;

    padding: 5px 0;

    border: none;
    border-bottom: 0.15em solid var(--primary-color);
    background: none;
    background-color: trasnparent;

    outline: none;

    /* Text */
    color: var(--text-color);
    font-size: 1em;
    text-transform: uppercase;

}

div.button {
    text-align: center;
    
}

button.button {
    margin-left: 10px;
    margin-right: 10px;

}

select:active {
    background: rgba(0, 0, 0, 0.575);
    
}


button {
    width: 70px;
    margin-top: 16px;
    
    background-color: var(--primary-color);
    box-shadow: 1px 4px 4px 0 black;
    border-radius: 5px;
}

button:hover {
    background-color: #c77312;
    transition: 0.2s;
    cursor: pointer;
}
button:active {
    background-color:rgb(10, 94, 10);
    box-shadow: 1px 1px 1px 0 rgba(44, 43, 43, 0.747);
}

input~label {
    position: absolute;
    top: 6px;
    left: 0;

    color: rgba(218, 210, 210, 0.377);

    transition: 0.4s;

}



input:focus{
    border-bottom: 0.15em solid rgb(238, 107, 0);

    transition: 0.4s;
}

input:focus~label,
input:hover~label
{
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.input span.error {
    display: flex;

    padding: 0;
    color: rgb(252, 66, 66);
    background-color: rgba(255, 0, 0, 0.158);
}

.input span.error.active {
    border: 1px solid rgba(255, 0, 0, 0.062);
    padding: 0.4em;
}


@media screen and (max-width: 750px) {
    div h1 {
    
        max-width: 500px;
    }
    .container {
        max-width: 500px;
    }

    div.form {
        display: flex;
        flex-direction: column;
        
    }

    div.input,
    div.select {
        width: 100%;

    }
    div.resultado {
        
        max-width: 500px;
        height: 80px;

        padding-top: 40px;
    }
    button {
        width: 100%;
        position: none;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 510px) {
    div h1 {
    
        max-width: 350px;
    }
    .container {
        max-width: 350px;
    }

    div.form {
        
        display: flex;
        flex-direction: column;
    }

    div.input,
    div.select {
        width: 100%;

    }
    div.resultado {
        
        max-width: 350px;
        height: 80px;

        padding-top: 40px;
    }
    button {
        width: 100%;
        position: none;
        margin-bottom: 10px;
    }
}