:root {
    --primary-color: #fd951f;
    --bg-color: #130f0d;
    --text-color: #cfcfe2;
    --light-color: #ffffff0a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;



}

h1 {
    width: 100%;
    max-width: 600px;
    margin: 40px auto 10px auto;
    padding: 10px 0px;
    background-color: rgb(184, 17, 17);
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #eeeeee;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px 10px;
    background-color: #0f0f50de;
    border-radius: 10px;
}

form {
    background: rgba(255, 255, 255, 0.11);
    width: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    border-radius: 10px;


}


div.form {
    min-height: 80px;
    display: flex;
    flex-direction: row;
}



div.input,
div.select {
    width: 250px;
    margin: 10px 3px 20px 3px;
    position: relative;
}



input,
select,
button { 
    /* Reset appearance*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    background-color: trasnparent;
}

input,
select,
.button button
    {
    /* Box */
    width: 100%;
    padding: 5px 0;
    border-bottom: 0.15em solid var(--primary-color);
    
    outline: none;
    
    /* Text */
    color: var(--text-color);
    font-size: 1em;
    text-transform: uppercase;

}

.button {
    text-align: right;
    
}

#gerar {
    margin-left: 10px;
    margin-right: 50px;
    
}

select:active {
    background: rgba(0, 0, 0, 0.575);
    
}


.button button {
    width: 70px;
    margin-top: 16px;
    
    background-color: var(--primary-color);
    box-shadow: 1px 4px 4px 0 black;
    border-radius: 5px;
}

.button button:hover {
    background-color: #c77312;
    transition: 0.2s;
    cursor: pointer;
}
.button button:active {
    background-color:#3cad0bce;
    box-shadow: 1px 1px 1px 0 rgba(44, 43, 43, 0.747);
}

input~label {
    position: absolute;
    top: 6px;
    left: 0;
    color: rgba(218, 210, 210, 0.377);
    transition: 0.4s;

}

input:focus{
    border-bottom: 0.15em solid #ee6b00;
    
    transition: 0.5s;
}

input:focus~label,
input:hover~label, 
.incluedText ~ label
{
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    padding: 0;
    color: #fc4242;
    background-color: rgba(255, 0, 0, 0.158);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input span.error.active {
    border: 1px solid #ff000010;
    padding: 0.2em;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    /* padding: 10px 10px 20px 20px; */
    border: 1px solid #808080ce;
    background-color: #9e9e9e7e;
    border-radius: 10px;
    
}

.copy {
    display: flex;
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
    
}
.copy:active {
    /* background-color: green; */
    transform: scale(0.9);
    transition: 100ms ease-in-out;
}

.copy:hover::after {
    content: "copy";
    position:absolute;
    left: 33px;
    padding: 3px;
    border-radius: 5px;
    color: #ffffff;

    background-color: #888787d7;
    transition: 300ms all;
    
}

.copy.active::after {
    content: "copyed";
    position:absolute;
    left: 35px;
    padding: 3px;
    border-radius: 5px;
    color: #ffffff;

    background-color: #04c004c4;
	-webkit-animation: rotate-out-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: rotate-out-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.copy img {
        height: 25px;
       
        
}


/* Responsividade */
@media screen and (max-width: 750px) {
    div h1 {
        
        max-width: 500px;
    }
    .container {
        max-width: 500px;
    }
    
    div.form {
        display: flex;
        flex-direction: column;
        
    }

    div.input,
    div.select {
        width: 100%;

    }
    div.resultado {
        
        max-width: 500px;
        height: 80px;

        padding-top: 40px;
    }
    button {
        width: 100%;
        position: none;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 510px) {
    div h1 {
    
        max-width: 350px;
    }
    .container {
        max-width: 350px;
    }

    div.form {
        
        display: flex;
        flex-direction: column;
    }

    div.input,
    div.select {
        width: 100%;

    }
    div.resultado {
        
        max-width: 350px;
        height: 80px;

        padding-top: 40px;
    }
    button {
        width: 100%;
        position: none;
        margin-bottom: 10px;
    }
}